body{
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: white;
}
input, button, label{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    background-color: rgb(46, 46, 46);
    border: solid 1px rgb(128, 128, 128);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    text-align: center;
}
#preview{
    max-width: 100%;
    display: none;
    margin-bottom: 15px;
}
#status{
    margin: 0 0;
    text-align: center;
}